<h2 class="text-center mb-4">Course Catalogue</h2>

<ul class="classes list-group mx-auto">
  {{#each classes}}
  <li class="class-name list-group-item list-group-item-action">{{code}} - {{name}}, {{semester}}</li>
  {{/each}}
</ul>