<h2 class="text-center my-4 catalogue" data-studentid="{{studentId}}">Course Catalogue</h2>
{{> catalogue/modal-block}}
{{> catalogue/cart-block}}
<div id="classes">
  <input class="d-block mx-auto mb-4 pb-2" type="text" id="filter" placeholder="Search Classes">
  <ul class="classes list-group mx-auto mb-5">
    {{#if isAuthenticated}}
    {{#each classes}}
    {{> catalogue/class-block}}
    {{/each}}
    {{else}}
    {{#each classes}}
    {{> catalogue/class-block-loggedout}}
    {{/each}}
    {{/if}}
  </ul>
</div>