<style>
  body {
    background: url('/assets/images/library.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
</style>
<div class="overlay">
  <h2 class="text-center home">Welcome {{first_name}} {{last_name}}!</h2>
  {{> index/drop-modal-block}}
  {{> catalogue/cart-block}}
  {{#if registeredIds}}
  <h4 class="text-center reg-classes mb-4 home" data-studentid="{{id}}">Here are your classes:</h4>
  <ul class="classes regClasses list-group mx-auto mb-4">
  </ul>
  {{else}}
  <h4 class="text-center mt-4 home">You haven't registered for any classes yet</h4>
  <h4 class="text-center home">Click <a class="catalogue link" href="/catalogue">here </a> to see the Course Catalogue</h4>
  {{/if}}
</div>