@font-face {
  font-family: 'FontAwesome';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf');
}

:root {
  --main-blue: #6d83a5;
  --main-blue-hover: #617696;
  --main-red: #ea2929d9;
  --main-red-hover: #ea2929;
  --text-color: #444;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

body .overlay {
  background-color: rgba(150, 150, 150, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

/* Navbar */
nav {
  opacity: 0.9 !important;
}
#logo {
  position: absolute;
  top: 10px;
  width: 80px;
}

.bg-blue {
  background-color: var(--main-blue);
}

.btn.bg-blue:hover {
  background-color: var(--main-blue-hover);
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.2em !important;
  color: #f3f3f3 !important;
}

.nav-link:hover,
.nav-link:active {
  color: #fff !important;
}

.navbar-toggler-icon {
  border: transparent !important;
}

h2.catalogue {
  color: #f3f3f3;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 6.25rem;
  margin-bottom: 2rem;
  letter-spacing: 1.5px;
}

h2.home,
h4.home {
  font-weight: 400;
  color: #f3f3f3;
}

h2.home {
  margin-top: 6.25rem;
}

h4.home {
  font-size: 1.5rem;
}

#cartLink {
  cursor: pointer;
}

/* Forms */
.login,
.signup,
.register,
.drop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding-bottom: 20px;
  background-color: rgba(249, 249, 249, 1);
}

.login,
.signup {
  background-color: rgba(249, 249, 249, 0.9);
}

.login input,
.signup input {
  opacity: 0.7;
}

.register .title,
drop .title {
  color: #444;
}

.title-login::before {
  font-family: 'FontAwesome';
  content: '\f023';
  margin-right: 6px;
  font-size: 1.5rem;
}

.title-signup::before {
  position: relative;
  bottom: 1px;
  font-family: 'FontAwesome';
  content: '\f007';
  margin-right: 6px;
  font-size: 1.5rem;
}

.catalogue-page {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

ul.classes,
#filter {
  width: 350px;
}

#filter {
  color: #f3f3f3;
  font-size: 1.2rem;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #7b93b8;
  outline: none;
  background: transparent;
}

#filter:focus {
  border-bottom: 3px solid #fafafa;
}

#filter::placeholder {
  color: #fbfbfb;
  font-size: 1.2rem;
}

li.class-name.is-open {
  background-color: #f8f9fa;
}

li.class-name::before {
  font-family: 'FontAwesome';
  content: '\f0da';
  float: left;
  margin: 1px 0;
  margin-right: 6px;
}

ul.addedClasses {
  position: relative;
  padding-left: 0;
  margin-left: 0 !important;
  padding-top: 5%;
  list-style: none;
  left: 8px;
  width: 254px;
}

ul.addedClassesReg {
  list-style: none;
  padding-left: 0;
  margin-left: 0 !important;
}

li.added-class {
  position: relative;
}

.fa-times {
  position: absolute;
  font-size: 1.2rem;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: var(--main-red);
  float: right;
  cursor: pointer;
  transition: all 0.3s;
}

.fa-times:hover {
  color: var(--main-red-hover);
}

li.class-name.is-open::before {
  transform: rotate(90deg);
}

li.class-name:hover {
  cursor: pointer;
}

li.class-content {
  display: none;
}

li.class-content.is-open {
  display: block;
}

/* Cart */
.cart {
  height: auto;
  z-index: 10;
  position: fixed;
  top: 3.4rem;
  right: 0;
  height: 100%;
  width: 300px;
  margin-right: -350px;
  transition: 0.3s ease-in-out;
}

.cart.show {
  margin-right: 0;
}

.card-title {
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.card-title-text,
.card-title-subtext {
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
}
.card-title-subtext {
  font-size: 1.4rem;
}

.card-title-img {
  position: relative;
  background: linear-gradient(rgba(58, 55, 55, 0.1), rgba(103, 29, 29, 0.5)),
    url('/assets/images/cart.png') center / cover;
  height: 150px;
}

.card-body {
  padding: 0;
}

button.proceed {
  position: absolute;
  bottom: 3.4rem;
  width: 254px;
  left: 23px;
}

.link {
  color: var(--main-blue);
}
.link:hover {
  color: var(--main-blue-hover);
  text-decoration: none;
}

/* Modals */
.regModal,
.dropModal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn.bg-red {
  background-color: var(--main-red);
}

.btn.bg-red:hover {
  background-color: var(--main-red-hover);
}

.dropBtn {
  float: right;
}

.link.catalogue {
  color: var(--main-blue);
  font-size: 1.2em;
}

.link.catalogue:hover {
  color: var(--main-blue-hover);
}

/* Flash Messages */
ul.success li,
ul.error li {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  text-align: center;
  max-width: 100%;
}

ul.error li {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

div.alert,
div.success {
  max-width: 650px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  margin: 10px auto;
  padding: 10px 0;
  text-align: center;
  max-width: 100%;
}

div.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h2.catalogue,
  h2.home {
    font-size: 2.5rem;
  }
  h4.home {
    font-size: 1.8rem;
  }
  .cart {
    top: 3.4rem;
    width: 350px;
  }
  ul.addedClasses {
    left: 10px;
    width: 300px;
  }
  button.proceed {
    left: 25px;
    width: 300px;
    bottom: 3.4rem;
  }
  ul.classes,
  #filter {
    width: 500px;
  }
  #logo {
    width: 110px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h2.catalogue,
  h2.home {
    font-size: 3rem;
  }
  h4.home {
    font-size: 2rem;
  }
  #logo {
    top: 10px;
    width: 130px;
  }
  .cart {
    top: 3.65rem;
  }
  button.proceed {
    bottom: 3.65rem;
  }

  ul.classes,
  #filter {
    width: 600px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  ul.classes,
  #filter {
    width: 650px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Added this media query to prevent logo from jumping */
@media (max-width: 767px) {
  .logo-center {
    left: 50%;
    transform: translateX(-50%);
  }
  .login,
  .signup,
  .register,
  .drop {
    max-width: 90%;
  }

  .btn.dropBtn {
    float: none;
    display: block;
    margin-top: 10px;
  }
}
