@font-face {
  font-family: 'FontAwesome';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf');
}

:root {
  --main-blue: #6d83a5;
  --main-blue-hover: #617696;
}

body {
  background-color: #fefefe;
  font-family: 'Roboto', sans-serif;
}

/* Navbar */
#logo {
  position: absolute;
  top: 10px;

  width: 80px;
}

.bg-blue {
  background-color: var(--main-blue);
}

.btn.bg-blue:hover {
  background-color: var(--main-blue-hover);
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.2em !important;
  color: #f3f3f3 !important;
}

.nav-link:hover,
.nav-link:active {
  color: #fff !important;
}

.navbar-toggler-icon {
  border: transparent !important;
}

#cartLink {
  cursor: pointer;
}

/* Forms */
.login,
.register {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding-bottom: 20px;
  background-color: #f9f9f9;
}

.title {
  color: #444;
}

.title-login::before {
  font-family: 'FontAwesome';
  content: '\f023';
  margin-right: 6px;
  font-size: 1.5rem;
}

.title-register::before {
  position: relative;
  bottom: 1px;
  font-family: 'FontAwesome';
  content: '\f007';
  margin-right: 6px;
  font-size: 1.5rem;
}

ul.classes,
#filter {
  width: 90%;
}

#filter {
  border: none;
  border-radius: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

#filter:focus {
  border-bottom: 3px solid #7b93b8;
}

li.class-name.is-open {
  background-color: #f8f9fa;
}

li.class-name::before {
  font-family: 'FontAwesome';
  content: '\f0da';
  float: left;
  margin: 1px 0;
  margin-right: 6px;
}

ul.addedClasses {
  position: relative;
  padding-left: 0;
  margin-left: 0 !important;
  padding-top: 5%;
  list-style: none;
  left: 8px;
  width: 254px;
}

li.added-class {
  position: relative;
}

.fa-times {
  position: absolute;
  font-size: 1.2rem;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: rgba(234, 41, 41, 0.8);

  float: right;
  cursor: pointer;
  transition: 0.3s;
}

.fa-times:hover {
  color: #ea2929;
}

li.class-name.is-open::before {
  transform: rotate(90deg);
}

li.class-name:hover {
  cursor: pointer;
}

li.class-content {
  display: none;
}

li.class-content.is-open {
  display: block;
}

/* Header Img */

.header-img {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;

  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='10' /></filter></svg>#svgMask");
}

/* Cart */
.cart {
  height: auto;
  z-index: 10;
  position: fixed;
  top: 3.4rem;
  right: 0;
  height: 100%;
  width: 300px;
  margin-right: -350px;
  transition: 0.3s ease-in-out;
  overflow: scroll;
}

.cart.show {
  margin-right: 0;
}

.card-title {
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.card-title-text,
.card-title-subtext {
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
}
.card-title-subtext {
  font-size: 1.4rem;
}

.card-title-img {
  position: relative;
  background: linear-gradient(rgba(58, 55, 55, 0.1), rgba(103, 29, 29, 0.5)),
    url('../images/classes.jpeg') center / cover;
  height: 200px;
}

.card-body {
  padding: 0;
}

button.proceed {
  position: absolute;
  bottom: 3.4rem;
  width: 254px;
  left: 23px;
}

/* Catalogue Stylings */
.carousel {
  top: -72px;
}

.carousel-caption {
  bottom: -3%;
  left: -25%;
  text-shadow: black 0.1rem 0.1rem 0.1rem;
}

.cat-size {
  font-size: 50px;
}

.subcat-size {
  font-size: 25px;
}
.cat-bg {
  background-image: radial-gradient(#6e84a4, #354864);
  position:sticky;
  top:0;
}

.card.cat-input {
padding: 0;
}

#classes {
  margin-bottom: 0;
  margin-top: -10%;
}

/* Footer */

.test {
  background-color:red;
  height: 20%;
}
/* Validation Flash Messages */
ul.success li {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 20px;
  padding-left: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  text-align: center;
}

ul.error li {
  padding: 10px 0;
  margin-bottom: 20px;
  padding-left: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  text-align: center;
}

div.alert {
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}

div.success {
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cart {
    top: 3.4rem;
    width: 350px;
  }
  ul.addedClasses {
    left: 10px;
    width: 300px;
  }
  button.proceed {
    left: 25px;
    width: 300px;
    bottom: 3.4rem;
  }
  ul.classes,
  #filter {
    width: 500px;
  }
  #logo {
    width: 110px;
  }
  .cat-size {
    font-size: 1.9rem;
  }
  .subcat-size {
    font-size: .9rem;
  }
  #classes {
    margin-bottom: 0;
    margin-top: -6%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #logo {
    top: 10px;
    width: 130px;
  }
  .cart {
    top: 3.65rem;
  }
  button.proceed {
    bottom: 3.65rem;
  }

  ul.classes,
  #filter {
    width: 600px;
  }
  .cat-size {
    font-size: 2.5rem;
  }
  .subcat-size {
    font-size: 1.5rem;
  }
  #classes {
    margin-bottom: 0;
    margin-top: -5%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  ul.classes,
  #filter {
    width: 650px;
  }
  .cat-size {
    font-size: 2.7rem;
  }
  .subcat-size {
    font-size: 1.5rem;
  }
  #classes {
    margin-bottom: 0;
    margin-top: -4%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cat-size {
    font-size: 3rem;
  }
  .subcat-size {
    font-size: 2rem;
  }
  #classes {
    margin-bottom: 0;
    margin-top: -3%;
  }

  .carousel-caption {
    bottom: 8%;
    left: -33%;
  }
}

/* Added this media query to log from jumping due to cascading */
@media (max-width: 767px) {
  .logo-center {
    left: 50%;
    transform: translateX(-50%);
  }

  #classes {
    margin-bottom: 0;
    margin-top: -8%;
  }

  .carousel-caption {
    bottom: -5%;
    left: -25%;
  }
}


/* Added just in case for top images */
@media (max-width: 576px) {
  .cat-size {
    font-size: 1.4rem;
  }
  
  .subcat-size {
    visibility: hidden;
  }

  .carousel-caption {
    top: 40%;
    left: -20%;
  }

  #classes {
    margin-bottom: 0;
    margin-top: -10%;
  }
}

@media (max-width: 360px) {
  .cat-size {
    font-size: 1.4rem;
  }
  
  .subcat-size {
    visibility: hidden;
  }

  .carousel-caption {
    top: 25%;
    left: -20%;
  }

  #classes {
    margin-bottom: 0;
    margin-top: -15%;
  }
}