<div class="dropModal d-none">
  <div class="dropModal-content">
    <div class="container justify-content-center">
      <form>
        <div class="drop mx-auto col-sm-10 col-md-8 col-lg-6 col-xl-5">
          <h5 class="text-center title-drop my-3">Are you sure you want to drop</h5>
          <h5 id="classToDrop" class="text-center"></h5>
          <button class="dropSubmit btn bg-blue text-white w-25 mt-4 mr-3" type="submit" data-studentid={{id}}>Drop</button>
          <button id="dropCancel" class="btn bg-red text-white w-25 mt-4" type="submit">Cancel</button>
        </div>
      </form>

    </div>
  </div>
</div>