<div class="card cart shadow-lg bg-white rounded">
  <div class="card-body">
    <div class="card-title-img">
    <h5 class="card-title-text">Selected Classes</h5>
    </div>
    <ul class="addedClasses">

    </ul>
    </p>
    <a href="#" class="proceed btn btn-sm btn-outline-secondary">PROCEED</a>

  </div>
</div>