<div class="card cart">
  <div class="card-body">
    <h5 class="card-title">Selected Classes</h5>
    <ul class="addedClasses">

    </ul>
    </p>
    <a href="#" class="proceed btn btn-sm btn-primary">PROCEED</a>

  </div>
</div>