<div class="card cart shadow-lg bg-white rounded">
  <div class="card-body">
    <div class="card-title-img">
      <div class="card-title">
        <h5 class="card-title-text text-center mb-1"><span id="classesNum">0 classes</span> Selected</h5>
        <h6 class="card-title-subtext mb-0">Tuition: $<span class="subtotal">0.00</span></h6>
      </div>
    </div>
    <div class="container">
      <ul class="addedClasses mx-auto">
      </ul>
      <button class="proceed btn btn-sm bg-blue text-white mb-3 mx-auto ">PROCEED TO REGISTER</button>
    </div>
  </div>
</div>