<div class="regModal d-none">
  <div class="regModal-content">
    <div class="container justify-content-center">
      <form>
        <div class="register mx-auto col-sm-10 col-md-8 col-lg-6 col-xl-5">
          <h2 class="text-center title-register my-3">Register</h2>
          <ul class="addedClassesReg mx-auto reg">
          </ul>
          <h6 class="mb-0">Tuition: $<span class="subtotal">0.00</span></h6>
          <h6 class="mb-0 my-2">Fees: $<span id="fees"></span></h6>
          <h6 class="mb-0">Total: $<span id="total"></span></h6>
          <button id="reg" class="btn bg-blue text-white w-25 mt-4 mr-3" type="submit">Register</button>
          <button id="cancel" class="btn bg-red text-white w-25 mt-4" type="submit">Cancel</button>
        </div>
      </form>

    </div>
  </div>
</div>